[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
aiofiles = "*"
scipy = "*"
pm4py = "==2.2.32"
pulp = "*"
seaborn = "*"

[dev-packages]
jupyter = "*"
uvicorn = {extras = ["standard"], version = "*"}

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
